<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="NoticeMapper"> 

	<resultMap type="NoticeVO" id="noticeResultMap">
		<id 	property="noticeNo" 		column="NOTICE_NO"/>
		<result property="userId"		 	column="USER_ID"/>
		<result property="noticeSubject"	column="NOTICE_SUBJECT"/>
		<result property="noticeContent" 	column="NOTICE_CONTENT"/>
		<result property="noticeDate" 		column="NOTICE_DATE"/>
		<result property="updateDate" 		column="UPDATE_DATE"/>
		<result property="noticeFileName" 	column="NOTICE_FILENAME"/>
		<result property="noticeFileRename" column="NOTICE_FILERENAME"/>
		<result property="noticeFilePath" 	column="NOTICE_FILEPATH"/>
		<result property="noticeFileLength" column="NOTICE_FILELENGTH"/>
	</resultMap>
	
	<!-- 공지사항을 삽입하는 SQL 쿼리 -->
	<!-- 글 작성 후 작성한 글 상세보기로 리다이렉트 하기 위한 SQL 쿼리 -->
	<insert id="insertNotice" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNo">
    <selectKey keyProperty="noticeNo" order="BEFORE" resultType="int">
        SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
    </selectKey>
    insert into NOTICE_TBL
	VALUES(SEQ_NOTICE_NO.NEXTVAL, #{userId }, #{noticeSubject }, #{noticeContent }, DEFAULT, DEFAULT, #{noticeFileName }, #{noticeFileRename }, #{noticeFilePath }, #{noticeFileLength })
	</insert>
	<!-- <insert id="insertNotice">
		INSERT INTO NOTICE_TBL VALUES(SEQ_NOTICE_NO.NEXTVAL, #{userId }, #{noticeSubject }, #{noticeContent }, DEFAULT, DEFAULT, #{noticeFileName }, #{noticeFileRename }, #{noticeFilePath }, #{noticeFileLength })
	</insert> -->
	
	<!-- 공지사항을 수정하는 SQL 쿼리 -->
	<update id="updateNotice">
		UPDATE NOTICE_TBL SET NOTICE_SUBJECT = #{noticeSubject }, NOTICE_CONTENT = #{noticeContent }, UPDATE_DATE = DEFAULT, NOTICE_FILENAME = #{noticeFileName }, NOTICE_FILERENAME = #{noticeFileRename }, NOTICE_FILEPATH = #{noticeFilePath }, NOTICE_FILELENGTH = #{noticeFileLength }  WHERE NOTICE_NO = #{noticeNo }
	</update>
	<!-- 공지사항을 삭제하는 SQL 쿼리 -->
	<delete id="deleteNotice">
		DELETE FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo }
	</delete>
	
	<!-- 공지사항의 총 개수를 조회하는 SQL 쿼리 -->
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL
	</select>
	
	<!-- 검색 조건에 따라 공지사항의 총 개수를 조회하는 SQL 쿼리 -->
	<select id="searchTotalCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL
		<if test="searchCondition =='all'">		
			WHERE USER_ID LIKE '%'||#{searchKeyword}||'%'
			OR NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%'
			OR NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'writer'">		
			WHERE USER_ID LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">		
			WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">	
			WHERE NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<!-- 공지사항 리스트를 조회하는 SQL 쿼리 -->
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- 공지사항 번호에 해당하는 공지사항을 조회하는 SQL 쿼리 -->
	<select id="selectByNoticeNo" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo }
	</select>
	
	<!-- 특정 키워드에 따라 공지사항을 조회하는 SQL 쿼리 -->
	<select id="selectNoticesByKeyword" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL
		<if test="searchCondition =='all'">		
			WHERE USER_ID LIKE '%'||#{searchKeyword}||'%'
			OR NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%'
			OR NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'writer'">		
			WHERE USER_ID LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">		
			WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">	
			WHERE NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- 글 작성 후 작성한 글 상세보기로 리다이렉트 하기 위한 SQL 쿼리 -->
	<!-- <insert id="insertNotice" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNo">
    <selectKey keyProperty="noticeNo" order="BEFORE" resultType="int">
        SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
    </selectKey>
    insert into NOTICE_TBL
	VALUES(SEQ_NOTICE_NO.NEXTVAL, #{userId }, #{noticeSubject }, #{noticeContent }, DEFAULT, DEFAULT, #{noticeFileName }, #{noticeFileRename }, #{noticeFilePath }, #{noticeFileLength })
	</insert> -->
	
	<!-- <insert id="insertUser" parameterType="NoticeVO" >
	<selectKey order="BEFORE" keyProperty="noticeNo" resultType="int">
		SELECT users_seq.nextval from dual
	</selectKey>
	insert into users(no,user_code,name,email,pwd,hp,start_date,point)
	values(#{no},#{userCode},#{name},#{email},#{pwd},#{hp},sysdate,#{point}) 
	</insert> -->
	
</mapper>