<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.fairytown.ft.ride.store.RideStore">

  		<insert id="addCourse">
            INSERT INTO COURSE_TBL
            VALUES(SEQ_COURSE_NO.NEXTVAL, #{rideId }, #{courseUser })
        </insert>
        
        <delete id="deleteCourse">
            DELETE FROM COURSE_TBL
            WHERE RIDE_NO = #{rideId } AND COURSE_USER = #{courseUser }
        </delete>
        <select id="selectCourse" resultMap="rideResultMap">
            SELECT * FROM COURSE_TBL
            WHERE RIDE_NO = #{rideId } AND COURSE_USER = #{courseUser }
        </select>
        <select id="selectCourseList" resultMap="rideResultMap">
			SELECT *
			FROM COURSE_TBL C
			JOIN RIDE_TBL R ON C.RIDE_NO = R.RIDE_ID
			JOIN RIDE_IMG_TBL I ON R.RIDE_ID = I.RIDE_ID
			WHERE C.COURSE_USER = #{courseUser }
			AND I.THUMB_LIST = 'Y'
        </select>
  
<!--    놀이기구 관련	  -->
		<!--   	등록 -->
  	  <insert id="insertRide">
		INSERT INTO RIDE_TBL
		VALUES(SEQ_RIDE_NO.NEXTVAL,  
		#{rideName }, #{rideDescription }, #{rideCount}, 
		#{rideStatus}, DEFAULT, #{rideLimit}, 
		 #{rideX }, #{rideY }, 
		  #{closeDate }, #{closeReason },#{closeYn})
		 <selectKey keyProperty="rideId" resultType="int" order="AFTER">
			SELECT SEQ_RIDE_NO.CURRVAL FROM DUAL
		</selectKey>
		</insert>
		
  	<insert id="insertRideImg">
		INSERT INTO RIDE_IMG_TBL
		VALUES(SEQ_RIMG_NO.NEXTVAL,#{rideId},
		#{rideImgName},#{rideImgRename},#{rideImgFilepath}
		,#{rideImgFilelength},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
	</insert>

	
		<!-- 	수정 -->
 	 <update id="modifyRide">
		UPDATE RIDE_TBL 
		SET 
		RIDE_NAME = #{rideName }, 
		RIDE_DESCRIPTION = #{rideDescription }, 
		RIDE_COUNT = #{rideCount}, 
		RIDE_STATUS = #{rideStatus }, 
		RIDE_DATE = DEFAULT, 
		RIDE_LIMIT = #{rideLimit }, 
		RIDE_X = #{rideX },
		RIDE_Y = #{rideY }  
		WHERE RIDE_ID = #{rideId}
	</update>
	
	 <update id="modifyRideImg">
		UPDATE RIDE_IMG_TBL 
		SET 
		RIDE_IMG_NO = #{rideImgNo}, 
		RIDE_IMG_NAME = #{rideImgName}, 
		RIDE_IMG_RENAME = #{rideImgRename}, 
		RIDE_IMG_FILEPATH = #{rideImgFilepath}, 
		RIDE_IMG_FILELENGTH = #{rideImgFilelength}, 
		DISPLAY_YN = #{displayYn}, 
		DISPLAY_SEQ = #{displaySeq}, 
		THUMB_LIST = #{thumbList}, 
		THUMB_BeST = #{thumbBest} 
		WHERE RIDE_ID = #{rideId }
	</update>
	
  	<delete id="deleteRide">
		DELETE FROM RIDE_TBL WHERE RIDE_ID = #{rideId}
	</delete>
	<delete id="deleteRideImg">
		DELETE FROM RIDE_IMG_TBL WHERE RIDE_ID = #{rideId}
	</delete>
  	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM RIDE_TBL
	</select>
	
	<select id="searchTotalCount" resultType="_int">
		SELECT COUNT(*) FROM RIDE_TBL
		  
		<if test="searchCondition =='all'">		
			WHERE RIDE_NAME LIKE '%'||#{searchKeyword}||'%'
			OR RIDE_STATUS LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'rideName'">		
			WHERE RIDE_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'rideStatus'">		
			WHERE RIDE_STATUS LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<select id="selectRideList" resultMap="rideResultMap">
		SELECT * FROM RIDE_TBL ORDER BY RIDE_DATE DESC
	</select>
	<select id="selectRideImgList" resultMap="rimgResultMap">
		SELECT * FROM RIDE_IMG_TBL WHERE RIDE_ID = #{rideId }
	</select>
	
	<select id="selectUserRideList" resultMap="rideResultMap">
		SELECT * FROM RIDE_TBL ORDER BY RIDE_DATE DESC
	</select>
	<select id="selectUserRideImg" resultMap="rimgResultMap">
		SELECT * FROM RIDE_IMG_TBL
		<where>
			<if test="type == 'B'">DISPLAY_YN = 'Y'</if>
			<if test="type == 'L'">THUMB_LIST = 'Y'</if>
			AND RIDE_ID = #{rideId }
		</where>
	</select>
	<select id="selectUserRidethumbL" resultMap="rimgResultMap">
		SELECT * FROM RIDE_IMG_TBL WHERE THUMB_LIST = 'Y' AND RIDE_ID = #{rideId }
	</select>
		
		<!-- 	상세 -->
	<select id="selectByRideId" resultMap="rideResultMap">
		SELECT * FROM RIDE_TBL WHERE RIDE_ID = #{rideId }
	</select>
	<select id="selectImgByRideId" resultMap="rimgResultMap">
		SELECT * FROM RIDE_IMG_TBL WHERE RIDE_ID = #{rideId }
	</select>
	
	
	<select id="selectUserRideByRideId" resultMap="rideResultMap">
		SELECT * FROM RIDE_TBL WHERE RIDE_ID = #{rideId }
	</select>
	<select id="selectUserImgByRideId" resultMap="rimgResultMap">
		SELECT * FROM RIDE_IMG_TBL WHERE DISPLAY_SEQ BETWEEN 1 AND 3 AND RIDE_ID = #{rideId}
	</select>

	
<!-- 	검색 -->	
	<select id="searchRideByKeyword" resultMap="rideResultMap">
		SELECT * FROM RIDE_TBL
		<if test="searchCondition =='all'">		
			WHERE RIDE_NAME LIKE '%'||#{searchKeyword}||'%'
			OR RIDE_STATUS LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'rideName'">		
			WHERE RIDE_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'rideStatus'">		
			WHERE RIDE_STATUS LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY RIDE_DATE DESC
	</select>
    	
    	
    	
    	
    	
    	
<!-- 운휴 관련 -->

		<update id="insertClose">
		    UPDATE RIDE_TBL
		    SET
		    RIDE_STATUS = 
		        CASE 
		            WHEN #{closeDate} = SYSDATE THEN 'Y'
		            ELSE 'N'
		        END,
		    CLOSE_DATE = #{closeDate},
		    CLOSE_REASON = #{closeReason},
		    CLOSE_YN = 'Y'
		    WHERE RIDE_ID = #{rideId}
		</update>
		  
  
  
	 <select id="searchcloseByKeyword" resultMap="rideResultMap">
	    SELECT * FROM RIDE_TBL
	    <if test="searchCondition =='all'">
	        WHERE (RIDE_NAME LIKE '%'||#{searchKeyword}||'%' OR
	               CLOSE_REASON LIKE '%'||#{searchKeyword}||'%' OR
	               CLOSE_DATE LIKE '%'||#{searchKeyword}||'%' OR
	               RIDE_STATUS LIKE '%'||#{searchKeyword}||'%')
	    </if>
	    <if test="searchCondition == 'rideName'">
	        WHERE RIDE_NAME LIKE '%'||#{searchKeyword}||'%'
	    </if>
	    <if test="searchCondition == 'closeReason'">
	        WHERE CLOSE_REASON LIKE '%'||#{searchKeyword}||'%'
	    </if>
	    <if test="searchCondition == 'closeDate'">
	        WHERE CLOSE_DATE LIKE '%'||#{searchKeyword}||'%'
	    </if>
	    <if test="searchCondition == 'rideStatus'">
	        WHERE RIDE_STATUS LIKE '%'||#{searchKeyword}||'%'
	    </if>
	    ORDER BY CLOSE_DATE DESC
	</select>
   	
  	<select id="selectCloseList" resultMap="rideResultMap">
		SELECT * FROM RIDE_TBL WHERE CLOSE_DATE IS NOT NULL ORDER BY RIDE_DATE DESC
	</select>
	
	<select id="selectRideNameForClose" resultMap="rideResultMap">
		SELECT RIDE_ID, RIDE_NAME FROM RIDE_TBL ORDER BY RIDE_ID DESC
	</select>
  
  <update id="deleteclose">
		UPDATE RIDE_TBL 
		SET 
		CLOSE_DATE=NULL, 
		CLOSE_REASON=NULL, 
		RIDE_STATUS='N'
		WHERE RIDE_ID = #{rideId}
	</update>
	
	
	<update id="modifyclose">
		 UPDATE RIDE_TBL
		    SET
		    RIDE_STATUS = 
		       CASE 
		            WHEN #{closeDate} = SYSDATE THEN 'Y'
		            ELSE 'N'
		        END,
		    CLOSE_DATE = #{closeDate},
		    CLOSE_REASON = #{closeReason},
		    WHERE CLOSE_NO= #{closeNo}
	</update>
	
	<select id="selectCloseTotalCount" resultType="_int">
		SELECT COUNT(*) FROM RIDE_TBL WHERE CLOSE_DATE IS NOT NULL ORDER BY RIDE_DATE DESC
	</select>
	
	<!--   ride 테이블 총 12개 칼럼 -->
  <resultMap type="RideVO" id="rideResultMap">
  	<id property="rideId" column="RIDE_ID"/>
  	<result property="rideName" column="RIDE_NAME"/>
  	<result property="rideDescription" column="RIDE_DESCRIPTION"/>
  	<result property="rideCount" column="RIDE_COUNT"/>
  	<result property="rideStatus" column="RIDE_STATUS"/>
  	<result property="rideDate" column="RIDE_DATE"/>
  	<result property="rideLimit" column="RIDE_LIMIT"/>
  	<result property="rideX" column="RIDE_X"/>
  	<result property="rideY" column="RIDE_Y"/>
  	<result property="closeDate" column="CLOSE_DATE"/>
  	<result property="closeReason" column="CLOSE_REASON"/>
  	<result property="closeYn" column="CLOSE_YN"/>
  	<collection property="images" ofType="RimgVO" column="RIDE_ID" javaType="java.util.List" select="selectUserRideImg" />
  </resultMap>
  
<!--   rimg 테이블 총 7개 칼럼 -->
  <resultMap type="RimgVO" id="rimgResultMap">
 	 <id property="rideImgNo" column="RIDE_IMG_NO"/>
  	<result property="rideId" column="RIDE_ID"/>
  	<result property="rideImgName" column="RIDE_IMG_NAME"/>
  	<result property="rideImgRename" column="RIDE_IMG_RENAME"/>
  	<result property="rideImgFilepath" column="RIDE_IMG_FILEPATH"/>
  	<result property="rideImgFilelength" column="RIDE_IMG_FILELENGTH"/>
  	<result property="displayYn" column="DISPLAY_YN"/>
  	<result property="displaySeq" column="DISPLAY_SEQ"/>
  	<result property="thumbList" column="THUMB_LIST"/>
  	<result property="thumbBest" column="THUMB_BEST"/>
  </resultMap>
  
  
  
  </mapper>