<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.fairytown.ft.user.store.UserStore">
  	<select id="selectBlack">
  		SELECT * FROM BLACKLIST_TBL
  		WHERE USER_ID = #{userId}
  	</select>
  	
  	<delete id="deleteBlack">
  		DELETE FROM BLACKLIST_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  
  	<update id="whiteUser">
  		UPDATE USER_TBL
  		SET USER_ST = 'N'
  		WHERE USER_ID = #{userId}
  	</update>
  
  	<select id="searchBlackList" resultType="BlackListVO">
  		SELECT * FROM BLACKLIST_TBL
		LEFT JOIN USER_TBL ON USER_TBL.USER_ID = BLACKLIST_TBL.USER_ID
		WHERE
	    <if test="type == 'name'">
	        REAL_NAME LIKE '%'||#{keyword}||'%' 
	    </if>
	    <if test="type == 'id'">
	        USER_TBL.USER_ID LIKE '%'||#{keyword}||'%'  
	    </if>
	    <if test="type == 'email'">
	        USER_TBL.USER_EMAIL LIKE '%'||#{keyword}||'%'
	    </if>
  	</select>
  
  	<select id="searchUserListBlack" resultType="userVO">
  		SELECT * FROM USER_TBL
		RIGHT JOIN BLACKLIST_TBL ON USER_TBL.USER_ID = BLACKLIST_TBL.USER_ID
		WHERE
	    <if test="type == 'name'">
	        REAL_NAME LIKE '%'||#{keyword}||'%' 
	    </if>
	    <if test="type == 'id'">
	        BLACKLIST_TBL.USER_ID LIKE '%'||#{keyword}||'%'  
	    </if>
	    <if test="type == 'email'">
	        USER_TBL.USER_EMAIL LIKE '%'||#{keyword}||'%'
	    </if>
  	</select>
  
  	<select id="getSearchBlackTotalCount" resultType="int">
	    SELECT COUNT(*)
		FROM BLACKLIST_TBL b
		LEFT JOIN USER_TBL u ON b.USER_ID = u.USER_ID
	    <where>
	        <choose>
	            <when test="type == 'name'">
	                REAL_NAME LIKE '%'||#{keyword}||'%' 
	            </when>
	            <when test="type == 'id'">
	                u.USER_ID LIKE '%'||#{keyword}||'%'  
	            </when>
	            <when test="type == 'email'">
	                u.USER_EMAIL LIKE '%'||#{keyword}||'%'
	            </when>
	        </choose>
	    </where>
	</select>
  
  	<select id="selectBlackList" resultType="BlackListVO">
  		SELECT * FROM BLACKLIST_TBL
		LEFT JOIN USER_TBL ON BLACKLIST_TBL.USER_ID = USER_TBL.USER_ID
  	</select>
  
  	<select id="selectUserListBlack" resultType="userVO">
  		SELECT * FROM USER_TBL
		RIGHT JOIN BLACKLIST_TBL ON USER_TBL.USER_ID = BLACKLIST_TBL.USER_ID
  	</select>
  	
  	<select id="getBlackTotalCount" resultType="int">
  		SELECT COUNT(*) FROM BLACKLIST_TBL
  	</select>
  	
  	<insert id="blackInsertUser">
  		INSERT INTO BLACKLIST_TBL (BLACKLIST_NO, USER_ID, REASON, REGI_DATE, STOP_DATE)
  		VALUES(
  			SEQ_BLACKLIST_NO.NEXTVAL,
  			#{userId},
  			#{reason},
  			#{regiDate},
  			#{stopDate}
  		)
  	</insert>
  	<update id="changeBlack">
  		UPDATE USER_TBL
  		SET USER_ST = 'B'
  		WHERE USER_ID = #{userId}
  	</update>
  	
  	<select id="selectUserList" resultType="userVO">
  		SELECT * FROM USER_TBL
	</select>
	
	<select id="searchUserList" resultType="userVO">
	    SELECT * 
	    FROM USER_TBL
	    WHERE
	    <if test="type == 'name'">
	        REAL_NAME LIKE '%'||#{keyword}||'%' 
	    </if>
	    <if test="type == 'id'">
	        USER_ID LIKE '%'||#{keyword}||'%'  
	    </if>
	    <if test="type == 'email'">
	        EMAIL LIKE '%'||#{keyword}||'%'
	    </if>
	    <if test="type == 'userSt'">
	        USER_ST LIKE '%'||#{keyword}||'%'
	    </if>
	</select>
	
	<select id="getSearchUserTotalCount" resultType="int">
	    SELECT COUNT(*)
	    FROM USER_TBL
	    <where>
	        <choose>
	            <when test="type == 'name'">
	                REAL_NAME LIKE '%'||#{keyword}||'%' 
	            </when>
	            <when test="type == 'id'">
	                USER_ID LIKE '%'||#{keyword}||'%'  
	            </when>
	            <when test="type == 'email'">
	                EMAIL LIKE '%'||#{keyword}||'%'
	            </when>
	            <when test="type == 'userSt'">
	                USER_ST LIKE '%'||#{keyword}||'%'
	            </when>
	        </choose>
	    </where>
	</select>
  
    <select id="getUserTotalCount">
    	SELECT COUNT(*) FROM USER_TBL
    </select>
  
  	<delete id="deleteUserTicket">
  		DELETE FROM TICKETING_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserBooking">
  		DELETE FROM BOOKING_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserBlack">
  		DELETE FROM BLACKLIST_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserReview">
  		DELETE FROM REVIEW_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserNotice">
  		DELETE FROM NOTICE_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUser">
  		DELETE FROM USER_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
 	<select id="checkUserLogin" resultType="UserVO">
		SELECT * FROM USER_TBL 
		WHERE USER_ID = #{userId }
	</select>
	
	<select id="insertDuplication" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_ID = #{userId}
		OR USER_EMAIL = #{userEmail}
	</select>
	
	<select id="userFindByEmail" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="userFindByEmailAndId" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
		AND USER_ID = #{userId}
	</select>
	
	<update id="pwModify">
		UPDATE USER_TBL
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	<update id="userUpdate">
		UPDATE USER_TBL
		SET USER_PW = #{userPw},
		ZIP_CODE = #{zipCode},
		USER_ADDRESS = #{userAddress},
		DETAIL_ADDRESS = #{detailAddress}
		WHERE USER_ID = #{userId}
		
	</update>
	
	<insert id="insertUser">
		INSERT INTO USER_TBL
		VALUES(
			#{userId},
			#{userPw},
			#{userEmail},
			#{userPhone},
			#{loginSt},
			#{userBirthDate},
			#{userSt},
			#{zipCode},
			#{userAddress},
			#{detailAddress},
			#{userAdmin},
			DEFAULT,
			#{realName}
		)
	
	</insert>
  
  
  
  
  
  </mapper>