<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.fairytown.ft.user.store.UserStore">
  
  	<select id="selectUserList" resultType="userVO">
  		SELECT *
		FROM (
		    SELECT t.*, ROW_NUMBER() OVER (ORDER BY USER_ID DESC NULLS LAST) AS rn
		    FROM USER_TBL t
		)
		WHERE rn BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="searchUserList" resultType="userVO">
	    SELECT * 
	    FROM (
	        SELECT t.*, ROW_NUMBER() OVER (ORDER BY USER_ID DESC NULLS LAST) AS rn
	        FROM USER_TBL t
	    ) tmp
	    WHERE rn BETWEEN #{startRow} AND #{endRow}
	    AND
	    <if test="type == 'name'">
	        REAL_NAME LIKE '%'||#{keyword}||'%' 
	    </if>
	    <if test="type == 'id'">
	        USER_ID LIKE '%'||#{keyword}||'%'  
	    </if>
	    <if test="type == 'email'">
	        EMAIL LIKE '%'||#{keyword}||'%'
	    </if>
	    <if test="type == 'userSt'">
	        USER_ST LIKE '%'||#{keyword}||'%'
	    </if>
	</select>
	
	<select id="getSearchUserTotalCount" resultType="int">
	    SELECT COUNT(*)
	    FROM USER_TBL
	    <where>
	        <choose>
	            <when test="type == 'name'">
	                REAL_NAME LIKE '%'||#{keyword}||'%' 
	            </when>
	            <when test="type == 'id'">
	                USER_ID LIKE '%'||#{keyword}||'%'  
	            </when>
	            <when test="type == 'email'">
	                EMAIL LIKE '%'||#{keyword}||'%'
	            </when>
	            <when test="type == 'userSt'">
	                USER_ST LIKE '%'||#{keyword}||'%'
	            </when>
	        </choose>
	    </where>
	</select>
  
    <select id="getUserTotalCount">
    	SELECT COUNT(*) FROM USER_TBL
    </select>
  
  	<delete id="deleteUserTicket">
  		DELETE FROM TICKETING_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserBooking">
  		DELETE FROM BOOKING_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserBlack">
  		DELETE FROM BLACKLIST_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserReview">
  		DELETE FROM REVIEW_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUserNotice">
  		DELETE FROM NOTICE_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
  	<delete id="deleteUser">
  		DELETE FROM USER_TBL
  		WHERE USER_ID = #{userId}
  	</delete>
  	
 	<select id="checkUserLogin" resultType="UserVO">
		SELECT * FROM USER_TBL 
		WHERE USER_ID = #{userId }
	</select>
	
	<select id="insertDuplication" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_ID = #{userId}
		AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="userFindByEmail" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="userFindByEmailAndId" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
		AND USER_ID = #{userId}
	</select>
	
	<update id="pwModify">
		UPDATE USER_TBL
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	<update id="userUpdate">
		UPDATE USER_TBL
		SET USER_PW = #{userPw},
		ZIP_CODE = #{zipCode},
		USER_ADDRESS = #{userAddress},
		DETAIL_ADDRESS = #{detailAddress}
		WHERE USER_ID = #{userId}
		
	</update>
	
	<insert id="insertUser">
		INSERT INTO USER_TBL
		VALUES(
			#{userId},
			#{userPw},
			#{userEmail},
			#{userPhone},
			#{loginSt},
			#{userBirthDate},
			#{userSt},
			#{zipCode},
			#{userAddress},
			#{detailAddress},
			#{userAdmin},
			DEFAULT,
			#{realName}
		)
	
	</insert>
  
  
  
  
  
  </mapper>