<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.fairytown.ft.user.store.UserStore">
  
 	<select id="checkUserLogin" resultType="UserVO">
		SELECT * FROM USER_TBL 
		WHERE USER_ID = #{userId }
	</select>
	
	<select id="insertDuplication" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_ID = #{userId}
		AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="userFindByEmail" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="userFindByEmailAndId" resultType="UserVO">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
		AND USER_ID = #{userId}
	</select>
	
	<update id="pwModify">
		UPDATE USER_TBL
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	<update id="userUpdate">
		UPDATE USER_TBL
		SET USER_PW = #{userPw},
		ZIP_CODE = #{zipCode},
		USER_ADDRESS = #{userAddress},
		DETAIL_ADDRESS = #{detailAddress}
		WHERE USER_ID = #{userId}
		
	</update>
	
	<insert id="insertUser">
		INSERT INTO USER_TBL
		VALUES(
			#{userId},
			#{userPw},
			#{userEmail},
			#{userPhone},
			#{loginSt},
			#{userBirthDate},
			#{userSt},
			#{zipCode},
			#{userAddress},
			#{detailAddress},
			#{userAdmin},
			DEFAULT,
			#{uName}
		)
	
	</insert>
  
  
  
  
  
  </mapper>